{% extends 'index.html' %}

{% block content %}
    <div class="page">

        <h1>My Qualifications</h1>
        {% for qually in qualification %}
            <h2>{{ qually }}</h2>
            <p>{{ qually.description }}</p>
        {% endfor %}
        <
        <br>

        <h1>My Skills!</h1>
        {% for skill in skills %}
            <p>{{ skill }}</p>
        {% endfor %}
        <br>

        <h1>Known Frameworks!</h1>
        {% for framework in frameworks %}
            <p>{{ framework }}</p>
        {% endfor %}
        <br>
    </div>

{% endblock %}