{% extends 'index.html' %}

{% block content %}
    <div class="page">

        <div class="project-details">
            <div class="project-top">
                <div class="project-title">
                    <h2 style="color: var(--color3)">{{ project.title }}</h2>
                    <p>{{ project.brief }}</p>
                </div>

                <div class="project-goals">
                <h2 style="color: var(--color1)">Project Goals</h2>
                    <div class="goals">
                        {% for goal in goals %}
                            <p>{{ goal.goal }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="project-desc">
                <h2 style="color: var(--color2)">Description</h2>
                {% autoescape off %}
                    <p>{{ project.description }}</p>
                {% endautoescape %}

                <div class="links">
                    <a  href="{{ project.git }}" class="btn">Github</a>
                    <a  href="{{ project.link }}" class="btn">Website</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}