{% extends 'index.html' %}

{% block content %}

    <div class="project-details">
        <div class="project-top">

            <div class="project-title col-sm-6">
                <h2>{{ project }}</h2>
                <p>{{ project.brief }}</p>
            </div>

            <div class="project-goals col-sm-6">
            <h2>Project Goal:</h2>
                {% for goal in goals %}
                    <p>{{ goal.goal }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="project-desc">
            <h2>Description</h2>
            <p>{{ project.description }}</p>
            <div class="links">
                <a  href="{{ project.git }}" class="btn">Github</a>
                <a  href="{{ project.link }}" class="btn">Website</a>
            </div>
        </div>

    </div>
{% endblock %}